@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-blue: #AEE1F9;
  --color-brand-pink: #F9A8C4;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: var(--font-sans);
  }
}

@layer components {
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
